<table class="pure-table pure-table-striped">
  <tbody>
  <tr class="property-item" ng-repeat="property in properties">
    <td style="text-align: center;"><img ng-src="{{ property.photoPath }}"
                                         alt="Photo by {{ property.photo_attribution }}"
                                         title="{{ property.streetAddress }}"/></td>
    <td>
      <h1><a ng-href="#/detail/{{ property.id }}">{{ property.streetAddress }}</a></h1>

      <p>Asking Price: {{ property.price | currency }}</p>

      <p>{{ property.zipCode }}</p>
    </td>
  </tr>
  </tbody>
</table>
