#page-wrap {
  max-width: 1000px;
  margin: 0 auto;
}

#header-wrap {
  width: 330px;
  margin: 0 auto;
}

.page-header {
  font-family: Tahoma, Geneva, sans-serif;
  display: block;
  background: url('/shared/images/icon_17139.png') no-repeat;
  background-size: contain;
  width: 230px;
  padding-left: 100px;
}

/* Realtors & Co Styles */
.property-item h1 a {
    color: #4162a8;
    text-decoration: none;
}

.property {
    text-align: center;
    padding-bottom: 5em;
}