<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>Realtors &amp; Co.</title>
    <style>
      .star.active {
          color: yellow;
      }
    </style>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/pure/0.5.0/pure-min.css">
    <link rel="stylesheet" href="/shared/shared_style.css">
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>

    <div id="page-wrap" class="pure-skin-backbone">
        <div id="header-wrap">
            <h1 class="page-header">Realtor's &amp; Co Properties</h1>
        </div>
        <div id="content"></div>
    </div>

    <script type="template" id="property-show">
        <h1><%= streetAddress %></h1>
        <p>This lovely property lies in the <%= zipCode %> area, with an asking price of <%= currentAsk %></p>
        <button class="star <%= starred ? "active" : "" %>">Save</button>
    </script>

    <script type="template" id="property-list-item">
        <td><a href="#property/<%= id %>"><%= streetAddress %></a></td>
        <td><%= zipCode %></td>
        <td><%= currentAsk %></td>
    </script>


    <script src="vendor/underscore-min.js"></script>
    <script src="vendor/jquery-1.11.0.min.js"></script>
    <script src="vendor/backbone.js"></script>

    <script src="js/router.js"></script>
    <script src="js/models.js"></script>
    <script src="js/views.js"></script>
    <script src="js/app.js"></script>
    <script>
        boot(document.getElementById("content"));
    </script>
</body>
